.sign-up {
  min-height: 100vh;
  min-width: 100vw;
  z-index: -1;

  &--light {
    background-image: url("../../assets/img/illus/background.png");
    background-size: cover;
  }

  &__content {
    margin: 1rem;
    padding: 2rem;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      filter: blur(10px);
      background-color: var(--beige-transparent);
    }

    &--light {
      &::before {
        background-color: var(--beige-transparent);
      }
    }

    &--dark {
      &::before {
        background-color: var(--dark-blue-transparent);
      }
    }

    * {
      position: relative;
      z-index: 1;
    }

    &__link {
      display: inline-block;
      font-weight: bold;
      text-decoration: none;
      text-align: right;
      width: 100%;

      &--light {
        color: var(--color-dark);
      }

      &--dark {
        color: var(--color-dark-mode-light);
      }
    }
  }
}
