DB_HOST: localhost
DB_DATABASE: name
DB_USER: user
DB_PASSWORD: password

VITE_URL_GRAPHQL=/graphql
JWT_SECRET: Clé super longue

VITE_URL=http://127.0.0.1:5173/

ADEME_API_URL=https://impactco2.fr/api/v1
ADEME_API_KEY=: clé fourni par l'Ademe
