DB_HOST=postgres
DB_DATABASE=db_footsy
DB_USER=postgres
DB_PASSWORD=password

VITE_URL=http://127.0.0.1:5173/
VITE_URL_GRAPHQL=/graphql

JWT_SECRET=this_is_a_secret

PAYMENT_PROVIDER=stripe
STRIPE_SECRET_KEY=sk_test_XXX

ADEME_API_URL=https://impactco2.fr/api/v1
ADEME_API_KEY=: clé fourni par l'Ademe

IS_PRODUCTION=false

