DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASS=password
DATABASE_NAME=footsy

PORT_GRAPHQL=4000
JWT_SECRET=VotreSecretTrèsLong

VITE_URL=http://localhost:5173

ADEME_API_URL=https://impactco2.fr/api/v1
ADEME_API_KEY=votre_cle_ademe
PAYMENT_PROVIDER=stripe
STRIPE_SECRET_KEY=sk_test_XXX