.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    align-items: center;
    
    background: linear-gradient(
    to bottom,
    var(--transparent),
    var(--beige),
    var(--beige)
  );

    &__link {
        text-decoration: none;
        font-weight: bold;
        padding: 0.5rem;

        &--light {
            color: var(--color-dark);
        }

        &--dark {
            color: var(--color-dark-mode-light);
        }
    }

    &__button {
        background: none;
        border: none;
        cursor: pointer;
        }

    &__img {
         width: 4rem;
        height: 4rem; 
        object-fit: contain; 
    }
}