.sign-up-header {
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 1rem;

  background: linear-gradient(
    to top,
    var(--transparent),
    var(--beige),
    var(--beige)
  );

  padding: 1rem 2rem 4rem 2rem;

  &__icon {
    width: 4.5rem;
    height: 4.5rem;
  }

  &__title {
    text-transform: uppercase;
    width: 100%;
    text-align: center;

    &--light {
      color: var(--color-dark);
    }

    &--dark {
      color: var(--color-dark-mode-light);
    }
  }
}
